ZINBfit_simulation_0_meanCutoff_5.h5ad  
ZINBfit_simulation_1_meanCutoff_5.h5ad
ZINBfit_simulation_2_meanCutoff_5.h5ad
ZINBfit_simulation_3_meanCutoff_5.h5ad
ZINBfit_single_cluster_meanCutoff_5.h5ad
zeta_params_list.pickle 
zeta_params_info_list.pickle   
gridsearch_broken_zeta                                     
